<page id="contact_index">
  <div class="page-header center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="bold uppercase">Kontakt oss</h2>
          <p class="text-muted uppercase bold">Kontaktinformasjon for bestilling eller svar på spørsmål</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-info">
                <h4 class="bold">Frank Burman</h4>
                <p>frank@rekneskapsjobb.no</p>
                <p>+47 2101455</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="contact-info">
                <h4 class="bold">Marwen Chebil</h4>
                <p>marwen@rekneskapsjobb.no</p>
                <p>+47 21014456</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</page>
